---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
  background-color:#efefef;
}

body, .page__title a {
  color:#444;
}

body, .masthead__inner-wrap, .site-title,
  h1,h2,h3,h4,h5,h6,
  .page__footer-copyright {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, serif;
}

.masthead, #site-nav {
  background-color:#444;
  padding: 0px;
}
#site-nav {
  margin:0px;
}
.site-title {
  font-size:1.2em;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:#fff;
}
.masthead__menu-item {
  text-transform: uppercase;
  font-size: 0.8em;
}

.initial-content {
  padding-top: 2em;
}

div.site-subtitle {
  color: #fff;
  text-align: center;
  font-size: 2em;
  margin: 1em auto;
  max-width: 80%;

}
